<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970341220498-ane8vfavfmifda5i97b0378os7e8amjn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970341220498-ane8vfavfmifda5i97b0378os7e8amjn</string>
	<key>API_KEY</key>
	<string>AIzaSyCnjvwLd4cluSbQzJGtsfi-Okwn7xzd7W0</string>
	<key>GCM_SENDER_ID</key>
	<string>970341220498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.ntnu.exerciseE8</string>
	<key>PROJECT_ID</key>
	<string>mobile-e8</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970341220498:ios:d0f6148f88f09507c2a64b</string>
</dict>
</plist>